html,
body {
    background-color: #222;
}
/*
#optionsWindow {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 800px;
    margin: auto;
}
*/

#blockedList li {
     margin-left: -44px;   
}

.x {
    height: 12px;
    width: 12px;
    vertical-align: middle;
    margin-right: 10px;
}

.buttons {
    transition: transform 0.1s;
    cursor: pointer;
    image-rendering: crisp-edges;
}
/* centered columns styles */

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    
    text-align: center;
    /* inline-block space fix */
    
    margin-right: -4px;
}

input {
    border: none;
    border-bottom: 5px solid white;
    background-color: #222;
    color: #fff;
}

#saveSite {
    background-color: #222;
    border: none;
    margin-left: -40px;
}
#saveTime {
    background-color: #222;
    border: none;
    border-bottom: 5px solid white;
    margin-top:20px;
}
#title {
    margin-top: 50px;
    display: block;
}

#largeTitle {
    margin-top: 80px;
    display: block;
    font-size: 50px;
}

#formSection {
    margin-top: 50px;
    display: block;
}
#socialFooter{
 margin-top:80px;
 margin-bottom:80px
}
#socialSection {
    margin-top: 50px;
    display: block;
}

.inputOutputSection {
    margin-top: 100px;
    display: block;
}
#breakSection{
    margin-top:80px
}
#breakOutput{
 margin-top:15px;   
}

#timeStatus{
     margin-top: 25px;
    margin-right: 22px;   
}

#advancedSection{
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}

#blockedList {
    text-align: left;
    width: 75%;
    padding-top: 25px;
    margin: 0 auto;
}

#updateNotice{
 text-align:right;   
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

#fuckingSiteSection {
    margin-top: 80px;
    min-height: 300px;
}

.section{
 margin-top:80px;   
}
.section-end{
 margin-bottom:80px;   
}

a,
a:visited, a:link {
    border: 5px solid white;
    text-decoration: none;
    background: #222;
    color: #fff;
    padding: 3px 8px;
    display: inline-block;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

a:hover,
a:active, a:focus {
    text-decoration: none;
    color: #000;
    background: #fff;
}

hr {
    border-bottom: 1px solid white;
    width: 100%;
}

.modal-content {
    background-color:#333;
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(255,255,255, 0.75);
  }
}

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(255,255,255, 0.75);
  }
}

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  background-color: #222;
  background-color: #222;
  color: white;
}

.hver-back-pulse:visited, .hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active{
 color:#222;
background-color:#fff;
   -webkit-animation-name: none;
  animation-name: none;
 -webkit-animation-duration: 0s;
  animation-duration: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
    -webkit-animation-iteration-count: 0;
  animation-iteration-count: 0;

}

.mainNav, .mainNav:visited, .mainNav:link{
    border:none;
    margin-top:5px;
}

.mainNav.onPage, .mainNav:hover, .mainNav:active, .mainNav:focus{
    border-bottom:5px solid white;
    background-color:#fff;
    color:#222;
}

#oldUpdates{
 display:none;   
}
#expandUpdates{
 display:block;
 margin:15px;
}

#link{
 background: none;
    padding: 0px;
    border: none;
    border-bottom: 5px solid white;   
}

#link:hover, #link:active, #link:focus{
 background:#fff;   
}