body {
    overflow-y: scroll;
    overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

a,
a:visited {
    background-color: #FFFF9D;
    text-decoration: none;
    color: inherit;
}

a:hover,
a:active,
a:focus {
    background-color: #BEEB9F;
    text-decoration: none;
    color: inherit;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

header {
    padding-left: 0px;
}

p {
    padding-left: 0px;
    font-size: 1.5em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

footer {
    padding: 0px;
    margin: 0px;
}

#quote{
    text-align:center;
    font-size:90px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height:220px;
    margin: auto;
    font-weight:800;
    margin-left:5%;
    margin-right:5%;
}

#footer-credit{
    position: absolute;
    bottom: 5px;
    left: 50px;
    font-size: 16px;
}
#footer-chrome{
    position: absolute;
    bottom: 5px;
    right: 50px;
    font-size: 16px;  
    margin: 0 0 10px;
}
#footer-survey{
    position: absolute;
    bottom: 5px;
    right: 50px;
    font-size: 16px;  
    margin: 0 0 10px;
}
#footer-text{
 margin: 0 auto;   
}
 @media screen and (max-width:480px){
      #quote{
       font-size:60px;   
      }
    }

#surveyTypeForm{
 display: inline-block;
 width: 100%;
 height: 600px;
}

@media (min-width: 768px){
.modal-dialog {
    width: 800px;
    height:600px;
    margin: 30px auto;
    background-color:#222;
    border:none;
}
}

@media (max-width: 767px){
#footer-credit{
    position: absolute;
    bottom:30px;
    left:5px;
}
#footer-chrome{
    display:none;
}
#footer-survey{
    display:none;
}
}
